/* 1024px ~ 64em
   740px  ~ 46.25em



*/

/* PC */ 
@media (min-width: 64em){
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    
}

/* Mobile */
@media (max-width: 46.1875em){


    #nav > li {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
}
